.main-clock {
  font-size: 275px;
  margin: auto;
  margin-top: -35px;
  float: left;
  width: 100%;
  text-align: center;
}

.main-date {
  font-size: 50px;
  margin: auto;
  margin-top: -35px;
  margin-bottom: 25px;
  float: left;
  width: 100%;
  text-align: center;
}

.weather-icon {
  margin: auto;
  width: 20%;
  float: left;
}

.weather-icon-center {
  display: block;
  margin-left: auto;
  margin-top: -15px;
  margin-right: auto;
  text-align: center;
}

.temperature {
  padding-left: 5px;
  font-size: 24px;
}

.temperature-low {
  color: grey;
}

.pollution-text-center {
  display: block;
  margin-left: auto;
  margin-top: 5px;
  margin-right: auto;
  text-align: center;
}

.pollution {
  color: grey;
  font-size: 18px;
}
